{% extends 'index.html' %}

{% block content %}
    <div class="container">
        <div class="row">
            <p>A liquor store is a retail shop that predominantly sells prepackaged liquors – typically in bottles –
                usually intended to be consumed off the store's premises. Depending on region and local idiom, they may
                also be called an off-licence (in the UK and Ireland), off-sale (in parts of Canada and the US), bottle
                shop, bottle store or, colloquially, bottle-o (in Australia, New Zealand and parts of Canada), liquor
                store (in Canada, the US, Australia and New Zealand) or other similar terms. A very limited number of
                jurisdictions have an alcohol monopoly. In US states that are alcoholic beverage control (ABC) states,
                the term ABC store may be used.</p>
        </div>
    </div>
{% endblock content %}

