{% extends 'index.html' %}

{% block content %}
    <div class="hero-wrap">
        <div class="container">
            <div class="row">
                <div class="slider-text">
                    <h1 class="mb-4 text-center">
                        Good
                        <span>Drink</span>
                        for Good
                        <span>Moments</span>
                    </h1>
                    <div class="d-felx">
                        <a href="{% url 'store:product' %}" class="btn btn-primary">Shop Now</a>
                        <a href="{% url 'store:about' %}" class="btn btn-secondary">Read More</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <section class="about">
                <h1 class="text-center">About Us</h1>
                <div class="row">
                    <div class="col-md-6 aboutUs_img d-flex justify-content-center align-items-center img-thumbnail"></div>
                    <div class="col-md-6 justify-conent-center align-items-center description">
                        <p>A liquor store is a retail shop that predominantly sells prepackaged liquors – typically in bottles –
                usually intended to be consumed off the store's premises. </p>
                    </div>
                </div>
            </section>
            <section class="products">
                <h1 class="text-center">Featured Products</h1>
                <div class="row m-3">
                    <div class="container" style="display: flex; justify-content: center; align-items: center;">
                        {% for filter in product %}
                            <img src="{{ filter.imageURL }}" alt="" class="img img-thumbnail" style="width: 50%">
                        {% endfor %}
                    </div>
                </div>
            </section>
        </div>
    </div>
{% endblock content %}