{% extends 'index.html' %}

{% block content %}
    <div class="hero-wrap">
        <div class="container">
            <div class="row">
                <div class="slider-text">
                    <h1 class="mb-4 text-center">
                        Good
                        <span>Drink</span>
                        for Good
                        <span>Moments</span>
                    </h1>
                    <div class="d-felx">
                        <a href="" class="btn btn-primary">Shop Now</a>
                        <a href="" class="btn btn-secondary">Read More</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <section class="about">
                <h1 class="text-center">About Us</h1>
                <div class="wrapper">
                    <div class="aboutUs_img"></div>
                    <div class="description"></div>
                </div>
            </section>
        </div>
    </div>
{% endblock content %}