@media screen and (max-width: 420px) {
    .slider-text{
        left: 0 !important;
    }
    .navbar-toggler{
        background: #fff !important;
    }
    .hero-wrap{
        background-position: 50% -3px !important;
    }
    section .text-center{
        left: -20%;
    }
    .footer{
        justify-content: start !important;
        .copy{
            font-size: 18px !important;
        }
    }
}

