@media only screen and (max-width: 420px) {
    .navbar-toggler{
        background: #fff !important;
    }
    .hero-wrap{
        height: auto;
    }
    .slider-text{
        left: 0 !important;
    }
}