{% extends "index.html" %}
{% load  django_bootstrap5 %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="card m-2 alert alert-success">
                <h1>Your payment was successful.</h1>
                <p>Your payment has been processed successfully.</p>
            </div>

            <nav class="nav nav-pills">
                <a href="{% url 'store:home' %}" class="nav-link text-primary">Back to home</a>
                <a href="{% url 'store:product' %}" class="nav-link text-black-50">Continue Shopping</a>
            </nav>

        </div>
    </div>

{% endblock content %}